<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span><b>Dodawanie pracownika</b></span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
</div>
<mat-dialog-content>
  <div class="close-button-container">
    <button mat-icon-button mat-dialog-close><i class="fa fa-times"></i></button>
  </div>
  <form [formGroup]="employeeForm" class="normal-form">
    <mat-grid-list cols="1" rowHeight="200px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="$key">
          <mat-form-field>
            <input formControlName="name" matInput placeholder="Imię*">
            <mat-error>To pole jest obowiązkowe.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="lastName" matInput placeholder="Nazwisko*">
            <mat-error>To pole jest obowiązkowe.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="position" matInput placeholder="Stanowisko*">
            <mat-error>To pole jest obowiązkowe.</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="button-row" style="text-align:center">
      <button type="button" class="btn btn-outline-primary" type="submit" [disabled]="employeeForm.invalid"
              (click)="onSubmit()" href="employee">Dodaj
      </button>
      <button type="button" class="btn btn-outline-warning" (click)="onClear()">Wyczyść</button>
    </div>
  </form>

</mat-dialog-content>

