<div class="nav-container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="new-order">Nowe zlecenie</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="order">Zlecenia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="client">Klienci</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="service">Usługi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="employee">Pracownicy</a>
    </li>
  </ul>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-12 mb-3 mb-lg-5">
      <div class="position-relative card table-nowrap table-card">
        <div class="card-header align-items-center">
          <h5 class="mb-0">Pracownicy</h5>
          <p class="mb-0 small text-muted">Ilość pracowników: <b>{{employees?.length}}</b></p>
          <p align="right">
            <button class="btn btn-outline-success" (click)="openAddEmployeeDialog()">Dodaj pracownika</button>
          </p>

        </div>
        <div class="table-responsive">
          <table class="table mb-0">
            <thead class="small text-uppercase bg-body text-muted">
            <tr>
              <th>ID Pracownika</th>
              <th>Nazwisko i imię</th>
              <th>Stanowisko</th>
              <th>Akcja</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let emp of employees" class="align-middle">
              <td>#{{emp.id}}</td>
              <td>{{emp.lastName}} {{emp.name}}</td>
              <td>{{emp.position}}</td>
              <td>
                <a (click)="openEditEmployeeDialog(emp)" class="table-link">
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a (click)="deleteEmployee(emp.id)" class="table-link danger">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
                </a>

              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer text-end">
          <p align="right">
            <button class="btn btn-outline-success" (click)="openAddEmployeeDialog()">Dodaj pracownika</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
