<div class="nav-container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="new-order">Nowe zlecenie</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="order">Zlecenia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="client">Klienci</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="service">Usługi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="employee">Pracownicy</a>
    </li>
  </ul>
</div>
