<div class="nav-container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="order-create">Nowe zlecenie</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="order">Zlecenia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="client">Klienci</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="service">Usługi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="employee">Pracownicy</a>
    </li>
  </ul>
</div>


<br>
<div class="container">
  <div class="row">
    <div class="col-12 mb-3 mb-lg-5">
      <div class="position-relative card table-nowrap table-card">
        <div class="card-header align-items-center">
          <h5 class="mb-0">Zlecenia</h5>
          <p class="mb-0 small text-muted">Ilość usług: <b>{{orders?.length}}</b></p>
          <p align="right"><a href="order-create" class="btn btn-outline-success">Dodaj zlecenie</a></p>
        </div>
        <div class="table-responsive">
          <table class="table mb-0">
            <thead class="small text-uppercase bg-body text-muted">
            <tr>
              <th>ID Zlecenia</th>
              <th>Status</th>
              <th>Data zlecenia</th>
              <th>Usługi</th>
              <th>Uwagi</th>
              <th>Tel. Klienta</th>
              <th>Serwisant</th>
              <th>Akcja</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders" class="align-middle">
              <td>#{{order.id}}</td>
              <td><b>{{order.status}}</b></td>
              <td>{{(order.createdAt | date: 'dd/MM/yyyy') || 'n/a'}}</td>
              <td>
                <span *ngFor="let item of order.items"><li>{{item.service.serviceName}}</li></span>
              </td>
              <td>brak</td>
              <td>{{order.client.phone}}</td>
              <td>
                {{(order.employee?.lastName !== null) ? order.employee?.lastName : "-"}}
                {{(order.employee?.name !== null) ? order.employee?.name : ""}}
              </td>
              <td>
                <a [routerLink]="['/orders', order.id]" class="table-link">
              <span class="fa-stack">
                   <i class="fa fa-square fa-stack-2x"></i>
                   <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
               </span>
                </a>
                <a class="table-link danger" (click)="confirmDeleteOrder(order.id)">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
                </a>

              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer text-end">
          <a href="order-create" class="btn btn-outline-success">Dodaj zlecenie</a>
        </div>
      </div>
    </div>
  </div>
</div>
