/*MENU*/
@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css';
@import 'https://getbootstrap.com/docs/5.3/assets/css/docs.css';
/*TABLE*/
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
/*!*EMPLOYEE*!*/
/*@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';*/

ul {
  justify-content: center;
  display: flex;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

form.normal-form {
  margin: 10px;
}

.controles-container {
  width: 100%;
  padding: 5%;
}

.controles-container > * {
  width: 100%;
}

.button-row button {
  margin: 5px;
}

mat-error{
  color: red !important;
}

.close-button-container {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}
